.header-container{
  background: red;
}

.header-container a {
  color: white !important;
}
.header-container a.active{
  color: white;
  font-weight: bold;
}
.navbar-container {
  position: relative;
}
.navbar-container  {
  position: absolute;
  right: 0;
}

.service-container {
  background: red;
  padding-top: 20px;
  padding-bottom: 20px;
}
.service-title{
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}
.usefull-link{
  list-style: none;
  height: 50px;
  line-height: 50px;

}
.usefull-link > li >a{
  text-decoration: none;
  color: red;
  font-weight: bold;

}

.about-image{
  width: 700px;
  hieght:700px
}
.contact-container{
  margin-top: 70px;
}